
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.mainbox {
  width: 375px;
  height: 667px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background-color: #000;
  -webkit-box-shadow: 0px 0px 71px -10px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 71px -10px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 71px -10px rgba(0,0,0,0.3);
}

.mainbox h1 {
  font-weight: 700;
  letter-spacing: -0.03em;
  font-size: 35px;
  color: #FFF;
  position: absolute;
  bottom: 0;
  left: 25px;
  white-space: pre-line;
}

.toppreheader {
  width: 100%;
  height: 64px;
  position: relative;
  text-align: center;
  color:#FFF;
  font-size: 17px;
  padding-top: 30px;
}

.topleftmenu {
  height: 3px;
  width: 35px;
  position: absolute;
  display: block;
  content: '';
  z-index: 900;
  left: 15px;
  top: 44px;
}

.topleftmenu span,
.topleftmenu span:before {
  width: 19px;
  height: 3px;
  background-color: #FFF;
  position: absolute;
  display: block;
  content: '';
}

.topleftmenu span:before {
  top: -9px;
  width: 14px;
}


.insidebox {
  background: rgba(0,145,229,1);
  background: -moz-linear-gradient(45deg, rgba(0,145,229,1) 0%, rgba(0,145,229,1) 47%, rgba(0,162,255,1) 47%, rgba(0,162,255,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,145,229,1)), color-stop(47%, rgba(0,145,229,1)), color-stop(47%, rgba(0,162,255,1)), color-stop(100%, rgba(0,162,255,1)));
  background: -webkit-linear-gradient(45deg, rgba(0,145,229,1) 0%, rgba(0,145,229,1) 47%, rgba(0,162,255,1) 47%, rgba(0,162,255,1) 100%);
  background: -o-linear-gradient(45deg, rgba(0,145,229,1) 0%, rgba(0,145,229,1) 47%, rgba(0,162,255,1) 47%, rgba(0,162,255,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(0,145,229,1) 0%, rgba(0,145,229,1) 47%, rgba(0,162,255,1) 47%, rgba(0,162,255,1) 100%);
  background: linear-gradient(45deg, rgba(0,145,229,1) 0%, rgba(0,145,229,1) 47%, rgba(0,162,255,1) 47%, rgba(0,162,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0091e5', endColorstr='#00a2ff', GradientType=1 );
  width: 100%;
  height: 190px;
  position: relative;
}


.profilebox {
  width: 88.5%;
  height: 400px;
  background-color: #EF2021;
  margin-left: auto;
  margin-right: auto;
  z-index: 600;
  position: relative;
  top: 22px;
  color: #FFF;
}

.profileimage {
  width: 100%;
  height: 280px;
  position: relative;
  overflow: hidden;
}

.profileimage img {
  width: 100%;
}

.followbutton {
  position:absolute;
  top:249px;
  right: 25px
}


.profiletitlelocation {
  width: 100%;
  height: 50px;
  padding: 12% 0 0 1%;
  font-size: 13px;
  word-wrap: break-word;
}

.separationline {
  width: 90%;
  height: 1px;
  border-bottom: 1px solid #BD2429;
  margin-left:auto;
  margin-right: auto;
}

.followerslikesholder {
  width: 100%;
  height: 100px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.08em;
}

.followers {
  float: left;
  width: 110px;
  height: 100px;
  padding-top: 16px;
}

.following {
  float: left;
  width: 110px;
  height: 100px;
  padding-top: 16px;
}

.likes {
  float: left;
  width: 110px;
  height: 100px;
  padding-top: 16px;
  white-space: pre-line;
}

.followers span, .following span, .likes span {
  font-size: 30px;
  letter-spacing: 0;
}

.bottomicons {
  width: 100%;
  height: 65px;
  background-color: #FFF;
  text-align: center;
  display: inline-flex;
  flex-direction: row;
}

.bottomicons i {
  width: 100%;
  height: 85px;
  font-size: 31px;
  padding-top: 17px;
}


.outsidetoptext {
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  text-align: center;
  margin: 4% 20% 2% 20%;
}

.outsidetoptext p:last-child {
  font-weight: bold;
}

.outsidebottomtext {
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  text-align: center;
  margin: 0 0 4% 0;
}



/* overwrite of some css style from materialize.css */

.invipink {
    background-color: #ffbdb8;
}

.invipink:hover {
    background-color: #dba29d;
}




/* Hexagon and circle ------------------------------------------------------------ */

.hexagon {
  position: absolute;
  right: 15px;
  bottom: 14px;
  margin: auto;
  width: 4%;
  height: 0;
  padding-bottom: 4.666999%;
  overflow: hidden;
  -webkit-transform: rotate(-90deg) skewY(30deg) translateZ(0);
          transform: rotate(-90deg) skewY(30deg) translateZ(0);
  z-index: 900;
}

.hexagon:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  -webkit-transform: skewY(-30deg) rotate(60deg);
          transform: skewY(-30deg) rotate(60deg);
  z-index: 900;
}

.circle {
  width: 5px;
  height: 5px;
  background-color: #000;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  content: '';
  z-index: 910;
}
*{
  font-family: sans-serif;
}
#tab{
  background-color: #EF2021;
}
.statusbar-overlay {
    background: #EF2021;
    /* We can add transition for smooth color animation */
    -webkit-transition: 400ms;
    transition: 400ms;
}

/* Change Status bar background when panel opened */
body.with-panel-left-cover .statusbar-overlay {
    background: #222;
}

.toolbar.tabbar{
  background-color: #EF2021 !important;
}

.logo {
  height: 30px;
  width: 30px;
  border-radius: 5px;
}

#mainnav{
  background-color: #EF2021;
}


.content-block{
  height: 35%;
}

.postbox-link{
  height: 40px;
  background-color: white;
  margin-top: 10px;
}

.postbox-tag{
  color: grey;
  font-weight: 400;
  font-size: 15pt;
  padding-top: 8px;
  padding-left: 20px;
  margin: 0;
}

.content-block{
  margin-top: 20px;
}

.demo-card-header-pic .card-header {
  height: 40vw;
  width: auto;
  background-size: cover;
  background-position: center;
}

.card.demo-card-header-pic{
  width: 100%;
  margin: 0;
  margin-top: 12px;
  word-wrap: break-word;
}

.like-text{
  margin-left: 1px;
}

.posts{
  margin-bottom: 50px;
}

.post-right{
  float: right;
  border-color: pink;
}

ul{
  list-style: none;
}

.post-pic li{
  margin-bottom: 20%;
}

#top-small{
  margin-top: 1px !important;
}

.post-pic ul{
  width: 10%;
  padding-left: 1px;
}

.post-box{
  margin-top: 12px;
  border: none;
  resize: none;
  width: 89%;
  display: inline-block;
  height: 200px;
  font-size: 11pt;
  overflow: scroll;
}

#top{
  position: absolute;
  top: 0;
}

.searchbox-out{
  z-index: 9999 !important;
  position: absolute;
  top: 0;
  margin-top: 43px;
  width: 100%;
  background-color: #BD2429;
}

.searchbox-inner{
  width: auto;
  height: 40px;
}

.searchbox-inner input{
  margin-right: 5px;
  border: none;
  width: 95%;
  height: 30px;
  font-size: 11pt;
  text-align: center;
  color: #EF2021;
  background-color: #BD2429;
}

.searchbox-inner ::-webkit-input-placeholder{
  color: #EF2021;
}

.profilepic{
  height: 30px;
  width: 30px;
  margin-right: 12px;
}

#profile-link{
  position: relative;
  bottom: 10px;
}

.time{
  color: grey;
}

.profile-coverphoto{
  width: 100%;
  height: 50%;
}

.profile-coverphoto img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: relative;
  bottom: 5.5%;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    display: inline-block;
}

.profile-photo{
  height: 15%;
  width: 25%;
  position: relative;
  bottom: 25%;
  margin-left: 20px;
}

.profile-photo img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.inputfileSmall {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfileSmall + label {
    font-size: 1em;
    display: inline-block;
}

label{
  font-size: 1em;
  display: inline-block;
}

.done-but{
  width: 100%;
  height: 45px;
  background-color: green;
}

.done-but h3{
  text-align: center;
  vertical-align: middle;
  font-size: 25pt;
  color: white;
  margin: 0;
}

#up-but{
  background-color: #EF2021;
}

#up-but h3{
    color: #BD2429;
    margin: 0;
}

.demo-card-header-pic .card-header {
  height: 40vw;
  background-size: cover;
  background-position: center;
}

.card-header.color-white.no-border{
  max-height: 500px;
  min-height: 325px;
  max-width: 100%;
  position: relative;;
  top: 0;
  left: 0;
   right: 0;
   bottom: 0;
   background-repeat: no-repeat;
   background-size: contain;
}

.infinite-scroll-preloader {
  margin-top:-20px;
  margin-bottom: 10px;
  text-align: center;
}
.infinite-scroll-preloader .preloader {
  width:34px;
  height:34px;
  display: none;
}

#notif-div{
  margin-top: 50px;
}

#no-border{
  border-top: none;
}

#small-but{
  width: 80%;
  margin-left: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#left{
  float: left;
}

.close-but{
  z-index: 100;
}

.user-profile-coverphoto{
  background-color: pink;
  height: 250px;
}

.user-profile-coverphoto img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.user-profile-photo{
  height: 25%;
  width: 25%;
  position: relative;
  bottom: 35%;
  margin-left: 20px;
}

.user-profile-photo img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.user-profile-photo h1{
  margin: 0;
  position: relative;
  bottom: 70%;
  margin-left: 100px;
}

.search-pic img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.search-pic{
  height: 20%;
  width: 20%;
}
.search-div {
  padding-top: 10px;
}
.search-div h3 {
  margin: 0;
  margin-left: 75px;
  position: relative;
  bottom: 45px;
}

.result{
  margin-top: 40px;
}

.serach-div a{
  margin-left: 60px;

}

#search-div-ul{
  background-color: white;
}

#view1-content{
  height: 30px;
  margin: 0;
  padding: 0;
}

#bold{
  font-weight: 500;
  font-size: 13pt;
  color: grey;
}

.popup-search-input{
  border: none;
  width: 90%;
  height: 40px;
  font-size: 12pt;
  border-bottom: 2px solid #EF2021;
}

#search-ul{
  padding-left: 29px;
  background-color: #EFEFF4;
}
